.encabezado {
    padding-left: 10px;
    padding-right:10px;
    border: 2px solid #00f;
    margin-top: 30px;
}

.bordeestandar {
    padding-left: 5px;
    border: 2px solid #aaa;

}

ul {
    border: 2px solid #0f0;

}
li {
    margin-top: 15px;

}

.primerli{

    margin-top: 0px;
}