* {
    box-sizing: border-box;
   font-family: serif;
}

.arreglo{
    padding: 0px;

}

.link{
    color: black;
    text-decoration: none;
    font-weight: bold;
}



.link:hover{
    color: black;
    text-decoration: underline;
    font-size: 20px;

}

li{
    text-decoration: underline;
}

.caja{
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}

.lineas{
    border-right: 1px solid gray;
    border-left: 1px solid gray;
}

.introduccion{
    background-color: antiquewhite;
    width: fit-content;
    border-radius: 20px;
}

footer{
    background-color: rgb(247, 247, 234);
    margin-top: 100px;
    border-radius: 20px;
}
.margen{
    margin-top: 10px;
}

.alinear{
    display: flex;
    justify-content: center;
}

.elemento{
    margin-top: 20px;
    margin-left: 30px;
}

article{
    padding: 20px;
}

p{
    text-align: justify;
}
.lupa{
    width: 80%;
    margin-top: 12px;
    margin-left: 10%;
}

.verde{
    color: green;
    font-weight: bold;
    font-size: 20px;
}
figcaption{
    display: none;
}

.fotosArticulos{
    width: 100%;
    height: 300px;
}
body{
    background-color: aqua;
}

.izquierda{
    float: left;
}
.cabecera{
    margin-top: 10px;
    text-align: center;
    text-decoration: underline;
}


header{
    padding: 5px;
    background-color: beige;
    margin-top: 15px;
    border-radius: 30px;
}

.cajaRoja{
    background-color: red;
    border: 4px solid white;
}

a{
    text-decoration: none;
}

nav{
    text-align: center;
}

.tamaño{
    font-size: 20px;
    color: black;
    text-align: justify;
}

h4{
    font-weight: bold;
    text-decoration: underline;
    width: 100%;
}

.botones {
    font-size: 15px;
    font-family:Verdana;
    border-radius: 20px;
    padding: 5px;
    text-decoration: none;
    height: 100%;
    color:black;
}
.botones:hover{
    color: black;
}
a:hover{
    color: black;
    transition: 600ms;
    text-decoration: none;
    text-decoration: underline;
    font-size: 110%;
}
.iconosNav {
    height:15px;
    width:15px;
}

a:visited {
    text-decoration: none;
    color: black;

}

h2{
    text-align: center;
    color: black;
    text-decoration: underline;
}

.enLinea{
display: flex;
justify-content: flex-end;
}


@media (max-width: 1000px){
.separacion{
    display: none;
}

.lineas{
    border-right: none;
    border-left: none;
}

.alinear{
    display:inline;
}

}








