
consignas,clientes {
        margin-top: 100px;
        display: table;
        border-spacing: 10px;
        border: black 1px solid; 
        background-color: bisque;
}

consigna,cliente,cabecera,cabeceraConsigna {
 display: table-row;
}
completo,nocturno,diurno,documentos,encargado,nombres,contactos,objetos,precio,nombreConsigna,descuentos {
  border: black 1px solid;
  display: table-cell;
  background-color: beige;
}

titulo {
  border: black 1px solid;
  display: table-cell;
  background-color: beige;
  text-align: center;
}
nombre,objeto,pareja,largaEstancia,agenciaViajes,puntosTravel,bookingGenius,dni,nif,telefono,correo {
    display: list-item;
    list-style: disc inside;
    margin-left: 20px;
}





